@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Kaushan+Script&family=Permanent+Marker&family=Satisfy&display=swap');

body{
font-family:'Courgette', cursive;
margin : 0 auto;
background-color: rgba(255, 196, 20, 0.659);
}

:root{
    --primary-color:  orangered;
}

.navigation{

    background-color:var(--primary-color);
    text-align: center;
    font-style: italic;
    font-weight: 900;
    font-size: 2rem;
}

.input-text{
    width:40%;
    height: 70px;
    display: block;
    border: groove;
    margin: auto;
    margin-bottom: 2rem;
    padding: 1rem;
    background: transparent;
    font-size: x-large;
    font-weight: 900;
    color: black;
}

.output-text{
    width:40%;
    height: 50px;
    display: block;
    border: groove;
    margin:auto;
    padding: 1rem;
    border-radius: 5px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:black;
    font-size:x-large;
    font-weight: 900;;
}

.button{
    margin:auto;
    display: block;
    height: 3rem;
    width: 6rem;
    background-color: orangered;
    font-family: 'Lucida Sans',  sans-serif;
    font-size: large;
}
::placeholder{
    color: black;
}

.footer{
    background-color:var(--primary-color);
    margin-top:2rem;
    padding: 0rem 20rem;  
    bottom: 0;               

}

.text3{
color: black;
font-size: 1.5rem;
font-weight: 900;
text-align: center;
}

p{
    font-size: 2rem;
}